<div class="h-full w-full flex flex-col">
  <!-- code upper box start -->
  <div class="h-4/6 m-5 pt-14 rounded-t-md border-2 border-white-20 relative shadow-sm ">

    <!-- code section start -->

    <ngx-monaco-editor #codeRef style="height: 100%" [options]="codeModel.editorOptions" [(ngModel)]="codeModel.value"
      (ngModelChange)="onCodeChange($event)" (onInit)="onInit($event)"></ngx-monaco-editor>

    <!-- code section end -->

    <div class="absolute top-0 right-0 px-5 py-2 w-full bg-white-20">
      <div class="flex flex-row justify-end items-center space-x-2">

        <!-- selection button start -->
        <select #op [value]="codeModel.editorOptions.language" (change)="onLanguageChange(op)" class="p-2 rounded"
          data-te-select-init data-te-select-auto-select="true">
          <option *ngFor="let language of languages" [value]=language>{{ language }}</option>
        </select> <!-- selection button end -->

        <!-- Run button start -->
        <button (click)="handleRunCode()" type="button"
          class="inline-block rounded bg-blue-10 px-6 pt-2.5 pb-2 text-xs font-bold uppercase leading-normal text-white-10  shadow transition duration-150 ease-in-out hover:bg-blue-20  focus:bg-blue-10 focus:outline-none focus:ring-0 active:bg-blue-20">RUN
        </button> <!-- Run button end -->
      </div>
    </div>
  </div> <!-- code upper box end -->

  <div class="flex flex-row m-5 mt-0 h-2/6 bg-secondary-50 space-x-2">

    <!-- Input section start -->
    <div class="w-2/6 border-white-20 border-2 rounded-md">
      <div class=" text-blue-20 font-bold text-sm p-2 border-b-2 border-white-20">STDIN</div>
      <textarea #inputBox [value]="codeModel.input" (change)="onInputChange(inputBox)"
        class="peer block w-full h-5/6 max-h-44 p-2 rounded border-0 outline-none text-sm placeholder:text-sm " rows="6"
        placeholder="$ Input fro the program (Optional)"></textarea>
    </div> <!-- Input section end -->

    <!-- output section start -->
    <div class="w-4/6 border-white-20  border-2 rounded-md">
      <div class=" text-blue-20 font-bold text-sm p-2 border-b-2 border-white-20">OUTPUT</div>
      <div class="h-5/6 max-h-44 min-h-44 p-2 overflow-y-scroll text-gray-10 font-semibold text-sm whitespace-pre">
        {{ codeModel.output }}
      </div>
    </div> <!-- output section end -->

  </div>
</div>
