/* .parent>.child
{
    visibility: visible;
}

.parent
{
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
} */

.child{
    font-size:12pt
}

.parent{
    font-size:0px;
line-height:0;
margin:0;
padding:0;
height:0;
}