<div class="h-screen w-screen">

  <div *ngIf="!inMeeting; else elseBlock" class="flex flex-row justify-center w-full h-full">

    <div class="w-8/12 h-full flex flex-row justify-center items-center">
      <div class=" w-full h-full relative">
        <video #myVideoRef class="w-full h-full  object-cover" autoplay>
        </video>

        <div *ngIf="!videoOption.video" class="absolute bottom-0 right-0 w-full h-full  bg-black">
          <div class="flex flex-row w-full h-full justify-center items-center text-white-10">
            Camera is off
          </div>
        </div>

        <div
          class="absolute bottom-0 right-0 mb-5 flex flex-row h-full w-full justify-center items-end space-x-2">

          <!-- Camera Toggle Button start-->
          <button (click)="handleCameraToggle()" type="button"
            class="inline-block rounded-full border-2 w-1/12 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out focus:outline-none focus:ring-0 active:bg-white-10">
            <div *ngIf="videoOption.video">
              <fa-icon [icon]="icons.camera"></fa-icon>
            </div>
            <div *ngIf="!videoOption.video" class="bg-red-10 rounded-full">
              <fa-icon [icon]="icons.cameraOff"></fa-icon>
            </div>
          </button> <!-- Camera Toggle Button end-->

          <!-- Mic Toggle Button start-->
          <button (click)="handleMicToggle()" type="button"
            class="inline-block rounded-full border-2  w-1/12 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
            <div *ngIf="videoOption.audio">
              <fa-icon [icon]="icons.mic"></fa-icon>
            </div>
            <div *ngIf="!videoOption.audio" class="bg-red-10 rounded-full">
              <fa-icon [icon]="icons.micOff"></fa-icon>
            </div>
          </button> <!-- Mic Toggle Button end-->

        </div>

      </div>

    </div>


    <div class="flex flex-col justify-center items-center w-4/12 h-full px-5 border-l border-white-20">

      <div class="pt-2.5 pb-2 font-semibold text-white-40">Ready to join?</div>
      <div class="pt-2.5 pb-2">{{ roomId }}</div>

      <!-- <div class="mb-3 w-full">
        <input #nameBox
          class="m-0 block w-full pt-2.5 pb-2 flex-auto text-center rounded border border-solid border-gray-10 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary-600 focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
          placeholder="Enter your name" />
      </div> -->

      <div class="mb-3">
        <button (click)="handelJoinMeeting()" type="button"
          class="inline-block rounded-full bg-blue-10 px-6 pt-2.5 pb-2 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out hover:bg-blue-20  focus:bg-blue-10 focus:outline-none focus:ring-0 active:bg-blue-20">
          Join meeting
        </button>
      </div>

    </div>


  </div>


  <!-- Meeting Room Sections -->

  <ng-template #elseBlock>

    <div class="flex flex-row w-full h-full">


      <div class="w-9/12 h-full  border-white-20 border-r-2">
        <app-code-editor [newCode]="newCode" value="code" [codeModel]="codeModel"
          (anyChangedEvent)="handleAnyChangedEvent($event)" />
      </div>

      <div class="w-3/12 flex flex-col">

        <!-- video box start -->
        <div class="p-5 relative rounded-md">

          <video #myVideoRef class="w-full h-full rounded-md" autoplay>
          </video>
          <div class="flex flex-row py-7 bottom-0 right-0 w-full absolute justify-center items-center space-x-2">

            <!-- Camera Toggle Button start-->
            <button (click)="handleCameraToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="videoOption.video">
                <fa-icon [icon]="icons.camera"></fa-icon>
              </div>
              <div *ngIf="!videoOption.video" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.cameraOff"></fa-icon>
              </div>
            </button> <!-- Camera Toggle Button end-->

            <!-- Mic Toggle Button start -->
            <button (click)="handleMicToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="videoOption.audio" class="">
                <fa-icon [icon]="icons.mic"></fa-icon>
              </div>
              <div *ngIf="!videoOption.audio" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.micOff"></fa-icon>
              </div>
            </button> <!-- Mic Toggle Button end -->
            <!-- <div (click)="handleMicToggle()" class="text-white-10 ">
              <div *ngIf="videoOption.audio" class="bg-blue-50 border h-1/6 w-1/6 rounded-full">
                <fa-icon [icon]="icons.mic"></fa-icon>
              </div>
              <div *ngIf="!videoOption.audio" class="bg-gray-40 border h-1/6 w-1/6 rounded-full">
                <fa-icon [icon]="icons.micOff"></fa-icon>
              </div>
            </div> -->

          </div>
        </div> <!-- video box end -->

        <!-- Remote video box start -->
        <div class="relative p-5 rounded-md">
          <video #remoteVideoRef class="w-full h-full rounded-md" autoplay>
          </video>
        </div> <!-- Remote video box end -->


      </div>




    </div>





  </ng-template>


</div>
