<div class="h-screen w-screen">

  <div *ngIf="!inMeeting; else elseBlock" class="flex flex-row justify-center w-full h-full">

    <div class="w-8/12 h-full flex flex-row justify-center items-center">
      <div class=" w-full h-full relative">
        <video #myVideoRef class="w-full h-full  object-cover" autoplay>
        </video>

        <div *ngIf="!videoOption.video" class="absolute bottom-0 right-0 w-full h-full  bg-black">
          <div class="flex flex-row w-full h-full justify-center items-center text-white-10">
            Camera is off
          </div>
        </div>

        <div class="absolute bottom-0 right-0 mb-5 flex flex-row h-full w-full justify-center items-end space-x-2 ">

          <!-- Camera Toggle Button start-->
          <button (click)="handleCameraToggle()" type="button"
            class="inline-block rounded-full border-2 w-1/12 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out focus:outline-none focus:ring-0 active:bg-white-10">
            <div *ngIf="videoOption.video">
              <fa-icon [icon]="icons.camera"></fa-icon>
            </div>
            <div *ngIf="!videoOption.video" class="bg-red-10 rounded-full">
              <fa-icon [icon]="icons.cameraOff"></fa-icon>
            </div>
          </button> <!-- Camera Toggle Button end-->

          <!-- Mic Toggle Button start-->
          <button (click)="handleMicToggle()" type="button"
            class="inline-block rounded-full border-2  w-1/12 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
            <div *ngIf="videoOption.audio">
              <fa-icon [icon]="icons.mic"></fa-icon>
            </div>
            <div *ngIf="!videoOption.audio" class="bg-red-10 rounded-full">
              <fa-icon [icon]="icons.micOff"></fa-icon>
            </div>
          </button> <!-- Mic Toggle Button end-->

        </div>

      </div>

    </div>


    <div class="flex flex-col justify-between items-center w-4/12 h-full px-5 py-16 border-l border-white-20">


      <div></div>

      <div class="flex flex-col space-y-10">
        <div class="font-semibold text-2xl text-black">Ready to join?</div>
        <button (click)="handelJoinMeeting()" type="button"
          class="inline-block rounded-full bg-blue-10 py-2.5  text-sm text-center font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out hover:bg-blue-20  focus:bg-blue-10 focus:outline-none focus:ring-0 active:bg-blue-20">
          Join meeting
        </button>
      </div>

      <div class="flex flex-row space-x-1">
        <div class="text-base">You Join as </div>
        <div class="font-medium text-base"> {{ userService.user.name }}</div>

      </div>

    </div>


  </div>


  <!-- Meeting Room Sections -->

  <ng-template #elseBlock>

    <div class="flex flex-row w-full h-full">


      <div class="w-9/12 h-full  border-white-20 border-r-2">
        <app-code-editor [newCode]="newCode" value="code" [codeModel]="codeModel"
          (anyChangedEvent)="handleAnyChangedEvent($event)" />
      </div>

      <div class="w-3/12 flex flex-col h-full p-5 space-y-4">

        <!-- video box start -->
        <div class="relative rounded-md h-2/6 ">

          <div class="flex flex-row p-3 top-0 right-0 w-full absolute justify-start items-center space-x-2">
            <img class="w-4 rounded-full " src="{{ userService.user.photoUrl }}" referrerpolicy="no-referrer">
            <div class="flex flex-row justify-start items-center w-full  text-white-10 text-base ">You
            </div>
          </div>

          <video #myVideoRef class="w-full h-full rounded-md bg-black object-cover" autoplay>
          </video>

          <div class="flex flex-row py-5 bottom-0 right-0 w-full absolute justify-center items-center space-x-2">

            <!-- Camera Toggle Button start-->
            <button (click)="handleCameraToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="videoOption.video">
                <fa-icon [icon]="icons.camera"></fa-icon>
              </div>
              <div *ngIf="!videoOption.video" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.cameraOff"></fa-icon>
              </div>
            </button> <!-- Camera Toggle Button end-->

            <!-- Mic Toggle Button start -->
            <button (click)="handleMicToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="videoOption.audio" class="">
                <fa-icon [icon]="icons.mic"></fa-icon>
              </div>
              <div *ngIf="!videoOption.audio" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.micOff"></fa-icon>
              </div>
            </button>

            <!-- Mic Toggle Button start-->
            <button (click)="handleCallEnd()" type="button"
              class="inline-block rounded-full border-2  w-1/12 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
              <div class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.phone"></fa-icon>
              </div>
            </button> <!-- Mic Toggle Button end-->

          </div>

        </div> <!-- video box end -->

        <!-- Remote video box start -->
        <div #remoteVideoBoxRef class="relative  rounded-md h-2/6 hidden">

          <div class="flex flex-row p-3  top-0 right-0 w-full absolute justify-start items-center space-x-2">
            <img class="w-4 rounded-full " src="{{ remoteUser? remoteUser.photoUrl :null}}"
              referrerpolicy="no-referrer">
            <div class="flex flex-row justify-start items-center w-full  text-white-10 text-base ">{{ remoteUser?
              remoteUser.name : 'null' }}
            </div>
          </div>

          <video #remoteVideoRef class="w-full h-full rounded-md bg-black object-cover" autoplay>
          </video>
          <div class="flex flex-row py-5 bottom-0 right-0 w-full absolute justify-center items-center space-x-2">

            <!-- Camera Toggle Button start-->
            <button (click)="handleRemoteCameraToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="remoteVideoOption.video">
                <fa-icon [icon]="icons.camera"></fa-icon>
              </div>
              <div *ngIf="!remoteVideoOption.video" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.cameraOff"></fa-icon>
              </div>
            </button> <!-- Camera Toggle Button end-->

            <!-- Mic Toggle Button start -->
            <button (click)="handleRemoteMicToggle()" type="button"
              class="inline-block rounded-full border-2 h-1/6 w-1/6 text-xs font-bold leading-normal text-white-10  shadow transition duration-150 ease-in-out  focus:outline-none focus:ring-0 active:bg-white-10">
              <div *ngIf="remoteVideoOption.audio" class="">
                <fa-icon [icon]="icons.mic"></fa-icon>
              </div>
              <div *ngIf="!remoteVideoOption.audio" class="bg-red-10 rounded-full">
                <fa-icon [icon]="icons.micOff"></fa-icon>
              </div>
            </button>


          </div>
        </div> <!-- Remote video box end -->


        <!-- Message Box Component Start -->
        <div class="w-full  h-2/6 flex flex-col justify-between border-white-20  border-2 rounded-md">


          <div class=" text-blue-20 font-bold text-sm p-2 border-b-2 border-white-20 overflow-hidden">
            In Call
            Messages</div>

          <!-- Message List Section start -->
          <div #messageBox class="h-4/5 w-full overflow-auto ">
            <div *ngFor="let message of roomMessages" class="flex flex-col w-full space-y-1 py-0.5 px-2 justify-end ">
              <div class="flex flex-row items-center space-x-2">
                <div class="text-sm font-medium overflow-clip">{{ message.username==userService.user.name?
                  "You":message.username
                  }}</div>
                <div class="text-xs">{{ message.time | date}}</div>
              </div>
              <div class="text-sm font-light w-full text-gray-20 break-words">
                {{ message.text
                }}
              </div>
            </div>
          </div> <!-- Message List Section End -->


          <!-- Message-Box Send Button Start -->
          <div class="p-1.5">
            <div class="w-full px-3 flex flex-row justify-center border-white-20  border-2 rounded-full space-x-2">
              <input #messageInput type="text" class="w-full outline-none text-base" placeholder="Send a message">
              <button (click)="handleSendMessage(messageInput)" class="h-full  text-blue-20">

                <fa-icon [icon]="icons.send"></fa-icon>

              </button>
            </div>
          </div> <!-- Message-Box Send Button End -->

        </div> <!-- Message Box Component End -->


      </div>


    </div>



  </ng-template>



</div>